/* 
* Criador: Pedro Haro
* Data de criacao : 04/07/2024
* Nome : Style.css
* motivo : customizar o site do meu portifolio, junto com a criacao de animacoes
*/

/* Fonte usada é a mesma do meu terminal, eu so tive que converter ela */
@font-face {
    font-family: 'Font-Terminal';
    src: url('DinaRemasterII.woff') format('woff');
}

/* Animacao de digitacao, inspiracao : http://www.tilde.club/, eles chamam ela de "fancyboy" se alguem tiver 
* curiosidade */

@keyframes typing {
from { width: 0; } /* Ela comeca da largura 1, pois o character $ n ja deve estar na tela*/
to { width: 100%; } /* A animacao tem 33 characteres*/
}

@keyframes blink-caret {
from, to { border-color: transparent; }
70% { border-color: #9EFF83; }
}

/* Aqui é a onde eu realmente crio a animacao, junto com o "cursor", que é so uma borda*/
.termAnim h1 {
    font-size: 5vw;
    overflow: hidden; /* Texto tem de ficar invisivel enquanto n for digitado */
    border-right: .40em solid #9EFF83; /* Cursor*/
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block; 
    /* aqui eu seto a animacao de "typing", ela dura 6 segundos e tem 33 passos, um para cada char, dps dela 
* terminar eu comeco a animcao do cursor
*/
    animation: typing 6s steps(33, end), blink-caret 1s step-end infinite 6s;
    position: relative;
}

/* agr eu seto coisas padrao do site, nada muito diferente do normal */
body {
    cursor: url('./assets/cursor.png'),auto;
    background-color: #141010;
    color: #9EFF83;
    font-size:20px;
    font-family: 'Font-Terminal', monospace; 
    padding: 20px;
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

h2 {
    border-bottom: 1px solid #9EFF83;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.icon{
    width: 26px; /* Adjust size as needed */
    height: 26px; /* Adjust size as needed */
    vertical-align: middle; /* Align the icon with the middle of the text */
    margin-left: 5px; /* Add some space between the icon and the text */
}

.navBar{
    border-top: 1px solid #9EFF83;
}
.section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #9EFF83;
}

.project {
    margin-bottom: 20px;
}

.project a {
    color: #9EFF83;
    text-decoration: underline 
}

.project a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #9EFF83;
    padding-top: 10px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #9EFF83;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
